@import '../settings/index.scss';

.header {   
    padding: 1rem 0;
    top: 0;    
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    @include transition();
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__logo{
        display: block;
        max-width: 250px;
        width: 40vw;
    }

    svg{
        width: 100%;
        height: auto;
    }

    .sticky &{
        padding: 2vh 0;
    }
}

.nav{    
    margin: auto;
    margin-right: 0;
    @include tablet(){
        display: none;
    }
    &__items{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
            padding: 0 2rem;
        }
        a{
            display: block;
            padding: 2rem 0;
            text-decoration: none;
            position: relative;
            color: $sc_black;
            @include transition();
            span{
                display: block;
                position: relative;
                &:after{
                    content: "";
                    width: 0;
                    height: 1px; 
                    background: $sc_red;
                    position: absolute;
                    left: 50%;
                    bottom: -3px;
                    transform: translateX(-50%);
                    @include transition();
                }
            }
            &:hover{
                text-shadow: 0px 0px 1px $sc_black;
                span:after{
                    width: 100%;
                }
            }
            &.active{
                span:after{
                    width: 100%;
                }
            }
        }
    }
}
