@import '../../settings/index.scss';

.header {   
    padding: 2rem 0;
    top: 0;    
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    @include transition();
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__logo{
        display: block;
        max-width: 250px;
        width: 40vw;
    }

    svg{
        width: 100%;
        height: auto;
    }

    .sticky &{
        padding: 2vh 0;
    }
}

.nav{    
    margin: auto;
    margin-right: 0;
    &__items{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
            padding: 0 2vw;
        }
        a{
            color: white;
            text-decoration: none;
            position: relative;
            @include transition();
            &:after{
                content: "";
                width: 0;
                height: 1px; 
                background: lime;
                position: absolute;
                left: 50%;
                bottom: -2px;
                transform: translateX(-50%);
                @include transition();
            }
            &:hover{
                &:after{
                    width: 100%;
                }
            }
            &.active{
                &:after{
                    width: 100%;
                }
            }
        }
    }
}
